<div class="header">
    <p class="name">Trivia Challenge!</p>
    <p class="category">Review</p>
</div>

<div class="question-container">
    <div class="results">
        <p class="ans">1. What’s Batman’s true identity?</p>
        <p class="ans green">Answer: Bruce Wayne</p>

        <p class="ans">2.What is the only spot on the thing that’s not solid rock?</p>
        <p class="ans green">Answer: His eyes</p>

        <p class="ans">3.What was snickers formerly called?</p>
        <p class="ans green">Answer: Marathon</p>

        <p class="ans">4.Which basketball team does this logo belong to?</p>
        <p class="ans green">Answer: Chicago Bulls</p>

        <p class="ans">5.What is the largest kind of shark?</p>
        <p class="ans green">Answer: Whale Shark</p>

        <p class="ans">6.How many feet of noodles are in a can of Campbell’s chicken noodle soup?</p>
        <p class="ans green">Answer: 32 feet</p>

        <p class="ans">7.What is the longest snake?</p>
        <p class="ans green">Answer: Reticulated python</p>

        <p class="ans">8.Diamonds are made from highly compressed?</p>
        <p class="ans green">Answer: Coal</p>

        <p class="ans">9.How did Peter Parker become Spider-man?</p>
        <p class="ans green">Answer: He got bit by a radioactive spider</p>

        <p class="ans">10.What old car logo is this?</p>
        <p class="ans green">Answer: Toyota</p>

        <a href="index.html" class="home-btn green-button">home</a>
    </div>
</div>